<%= render :partial => "/partial/head" %>
<h3 class="edit_title">Edit</h3>
<div>
  <div class="editing_field">
    <% if @userfiles.present? %>
    <ul class="file_list demo-list-item mdl-list">
      <% i=1 %>
      <% for userfile in @userfiles %>
          <% if !(i%2==1) then %>
            <li class="list_color">
          <% else %>
            <li class="list_non_color">
          <% end %>
              <span class="mdl-list__item-primary-content">
                  <%= userfile.filename %>
                  <button class='editing_button mdl-js-button  mdl-button--colored' onclick="deleteCards('<%=userfile.id%>')">delete</button>
                  <%= link_to "edit", editing_edit_url(:fileId => userfile.id), class: 'editing_button_edit editing_button mdl-js-button  mdl-button--colored', method: :get %>
              </span>
            </li>
          <% i+=1 %>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
<%= link_to 'Back', root_path,class:'back_button mdl-button mdl-js-button mdl-button--primary' %>
