<%= render :partial => "/partial/head" %>
<div class="all">
  <div class="FlashCard">
    <%= link_to 'FlashCard','flash_card',class:"top_button mdl-button mdl-js-button mdl-button--raised mdl-button--colored" %>
  </div>
  <div class="Export">
    <%= link_to 'Export','export',class:"top_button mdl-button mdl-js-button mdl-button--raised mdl-button--colored" %>
  </div>
  <div class="Editing">
    <%= link_to 'Editing','editing',class:"top_button mdl-button mdl-js-button mdl-button--raised mdl-button--colored" %>
  </div>
  <div class="SignUp">
    <%= link_to 'SignUp','sign_up',class:"top_button mdl-button mdl-js-button mdl-button--raised mdl-button--colored" %>
  </div>
</div>
