<%= render :partial => "/partial/head" %>
<div class="top-all">
  <div class="demo-card-wide mdl-card mdl-shadow--2dp top-mdl-card">
    <div class="mdl-card__title flash_card_top"></div>
    <div class="mdl-card__supporting-text">
      自分のフラッシュカードで学習できます<br>
      発音の採点機能・再生機能があります
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <%= link_to 'FlashCard','flash_card',class:"top_button mdl-button mdl-js-button mdl-button--raised mdl-button--colored" %>
    </div>
  </div>

  <div class="demo-card-wide mdl-card mdl-shadow--2dp top-mdl-card">
    <div class="mdl-card__title"></div>
    <div class="mdl-card__supporting-text">
      自分でオリジナルのフラッシュカードを作ることができます
    </div>

    <div class="mdl-card__actions mdl-card--border">
      <%= link_to 'Export','export',class:"top_button mdl-button mdl-js-button mdl-button--raised mdl-button--colored" %>
    </div>
  </div>

  <div class="demo-card-wide mdl-card mdl-shadow--2dp top-mdl-card">
    <div class="mdl-card__title"></div>
    <div class="mdl-card__supporting-text">
      自分のフラッシュカードを編集・削除することができます
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <%= link_to 'Edit','editing',class:"top_button mdl-button mdl-js-button mdl-button--raised mdl-button--colored" %>
    </div>
  </div>

  <div class="demo-card-wide mdl-card mdl-shadow--2dp top-mdl-card">
    <div class="mdl-card__title share_top"></div>
    <div class="mdl-card__supporting-text">
      フラッシュカードを公開したり<br>
      ダウンロードすることができます
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <%= link_to 'Share','share',class:"top_button mdl-button mdl-js-button mdl-button--raised mdl-button--colored" %>
    </div>
  </div>

  <div class="demo-card-wide mdl-card mdl-shadow--2dp top-mdl-card">
    <div class="mdl-card__title sign_up_top"></div>
    <div class="mdl-card__supporting-text">
      アカウントを作成します<br>
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <%= link_to 'SignUp','sign_up',class:"top_button mdl-button mdl-js-button mdl-button--raised mdl-button--colored" %>
    </div>
  </div>
</div>
