<%= render :partial => "/partial/head" %>
<div class="all">
  <div class="FlashCard">
    <%= link_to 'FlashCard','flash_card',class:"mdl-button mdl-js-button mdl-button--raised mdl-button--colored" %>
  </div>
  <div class="Import">
    <%= link_to 'Import','import',class:"mdl-button mdl-js-button mdl-button--raised mdl-button--colored" %>
  </div>
  <div class="Export">
    <%= link_to 'Export','export',class:"mdl-button mdl-js-button mdl-button--raised mdl-button--colored" %>
  </div>
  <div class="SignUp">
    <%= link_to 'SignUp','sign_up',class:"mdl-button mdl-js-button mdl-button--raised mdl-button--colored" %>
  </div>
</div>
