<%= render :partial => "/partial/head" %>
<div class="top-all">



  <div class="demo-card-wide mdl-card mdl-shadow--2dp top-mdl-card">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Welcome</h2>
    </div>
    <div class="mdl-card__supporting-text">
      自分のフラッシュカードを使って学習できます<br>
      発音の採点機能・再生機能があります
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <%= link_to 'FlashCard','flash_card',class:"top_button mdl-button mdl-js-button mdl-button--raised mdl-button--colored" %>
    </div>
    <div class="mdl-card__menu">
      <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
        <i class="material-icons">share</i>
      </button>
    </div>
  </div>

  <div class="demo-card-wide mdl-card mdl-shadow--2dp top-mdl-card">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Welcome</h2>
    </div>
    <div class="mdl-card__supporting-text">
      自分でオリジナルのフラッシュカードを作ることができます
    </div>

    <div class="mdl-card__actions mdl-card--border">
      <%= link_to 'Export','export',class:"top_button mdl-button mdl-js-button mdl-button--raised mdl-button--colored" %>
    </div>
    <div class="mdl-card__menu">
      <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
        <i class="material-icons">share</i>
      </button>
    </div>
  </div>

  <div class="demo-card-wide mdl-card mdl-shadow--2dp top-mdl-card">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Welcome</h2>
    </div>
    <div class="mdl-card__supporting-text">
      自分のフラッシュカードを編集・削除することができます
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <%= link_to 'Edit','editing',class:"top_button mdl-button mdl-js-button mdl-button--raised mdl-button--colored" %>
    </div>
    <div class="mdl-card__menu">
      <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
        <i class="material-icons">share</i>
      </button>
    </div>
  </div>

  <div class="demo-card-wide mdl-card mdl-shadow--2dp top-mdl-card">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Welcome</h2>
    </div>
    <div class="mdl-card__supporting-text">
      自分が作ったフラッシュカードを公開したり<br>
      公開されているフラッシュカードをダウンロードすることができます
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <%= link_to 'Share','share',class:"top_button mdl-button mdl-js-button mdl-button--raised mdl-button--colored" %>
    </div>
    <div class="mdl-card__menu">
      <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
        <i class="material-icons">share</i>
      </button>
    </div>
  </div>

  <div class="demo-card-wide mdl-card mdl-shadow--2dp top-mdl-card">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">welcome</h2>
    </div>
    <div class="mdl-card__supporting-text">
      アカウントを作成します<br>
      アカウントを作成することで自分のフラッシュカードを管理することができます
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <%= link_to 'SignUp','sign_up',class:"top_button mdl-button mdl-js-button mdl-button--raised mdl-button--colored" %>
    </div>
    <div class="mdl-card__menu">
      <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
        <i class="material-icons">share</i>
      </button>
    </div>
  </div>
</div>
