<%= render :partial => "/partial/share_head" %>
<h3 class="edit_title">Release</h3>
<h4 id="notice" class="notice"><%= notice %></h4>
<div>
  <div class="editing_field">
    <% if @userfiles.present? %>
    <ul class="file_list demo-list-item mdl-list">
      <% i=1 %>
      <% for userfile in @userfiles %>
          <% if !(i%2==1) then %>
            <li class="list_color">
          <% else %>
            <li class="list_non_color">
          <% end %>
              <span class="mdl-list__item-primary-content">
                  <%= userfile.filename %>
                  <% if @release_id.include?(userfile.id) %>
                  <%= link_to "delete", share_delete_path(:fileId => userfile.id), class: 'editing_button_edit delete_button mdl-js-button  mdl-button--colored', method: :get %>
                  <% else %>
                  <%= link_to "release", release_files_edit_url(:fileId => userfile.id), class: 'editing_button_edit editing_button mdl-js-button  mdl-button--colored', method: :get %>
                  <% end %>
              </span>
            </li>
          <% i+=1 %>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
<%= link_to 'Back', share_path,class:'back_button mdl-button mdl-js-button mdl-button--primary' %>
