<%= render :partial => "/partial/head" %>
<h3 class="sign_in_title">Please sign in</h3>
<h4 id="notice" class="notice"><%= notice %></h4>
<%= form_tag user_sign_in_path do %>
<div class="actions">
  name<%= text_field_tag :name %><br><br>
  Pass　　 <%= password_field_tag :password %><br><br>
</div>
<%= submit_tag 'Sign in',class:"mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" %>
<% end %>
<%= link_to 'Back', root_path,class:'back_button mdl-button mdl-js-button mdl-button--primary' %>
