<%= render :partial => "/partial/head" %>
<h1>Please sign in</h1>
<%= form_tag user_sign_in_path do %>
<div class="actions">
  Username<%= text_field_tag :username %><br><br>
  Pass　　 <%= password_field_tag :userpassword %><br><br>
</div>
<%= submit_tag 'Sign in',class:"mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" %>
<% end %>
<%= link_to 'Back', root_path,class:'mdl-button mdl-js-button mdl-button--primary' %>
