<!DOCTYPE html>
<html>
  <head>
    <title>EnglishPronunciationChecker</title>
    <%= include_gon(:init => true) %>
    <%= csrf_meta_tags %>
    <%= include_gon %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script> -->
    <!-- <script type="text/javascript" src=..//s/assignment.js"></script>
    <script type="text/javascript" src=..//s/jquery-linedtextarea.js"></script> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, max-layoutum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!-- <link rel="stylesheet" href=/css/assignment.css"> -->
    <!-- <link rel="stylesheet" href="css/jquery-linedtextarea.css"> -->

  </head>

  <body>
    <%= yield %>
  </body>
</html>
